body {
    display: flex;
    background-color: grey;
}

.header {
    background-color: #fff;
    padding-bottom: 40px;
}
.form-section {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}
.signup-form {
    background-color: #ddd;
}
.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    align-items: baseline
    
}
.row-1,
.row-2,
.row-3 {
    padding: 20px;
}